<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <title>Rahi |Contact</title>
</head>
<body>
    <form action="/ContactMe" method="post">
        <div class="box">
            <div class="container">
                <div class="top-header">
                    
                    <header><h2>Connect With Me !</h2>
                    </header>
                </div>
                <div class="input-field">
                    <input type="text" class="input" name="name" placeholder="Name" required>
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="input-field">
                    <input type="email" class="input" name="email" placeholder="Gmail" required>
                    <i class="fa-solid fa-at"></i>
                </div>
                <div class="input-field">
                <input type="contact" class="input" name="contact" placeholder="Contact" required>
                    <i class="fa-regular fa-id-badge"></i>
                </div>

                <div class="input-field submit-btn">
                   <strong><input type="submit" class="submit" value="Contact Me"></strong>    
                              </div>




            </div>
        </div>
    </form>
    <script src="https://kit.fontawesome.com/6b5f3bbbfa.js" crossorigin="anonymous"></script>
</body>

</html>